<p-panel class="row" header="Job">
	<p-dropdown [options]="jobs" [(ngModel)]="selectedJob" (onChange)="getJobDetails($event)" placeholder="Select Job"></p-dropdown>
	
	<p-dataList [value]="followUps">
		<ng-template let-followUp pTemplate="item">
			{{followUp | json}}
		</ng-template>
	</p-dataList>
	<p-dataList [value]="siteVisits" title="Site Visits">
		<ng-template let-siteVisit pTemplate="item">
				<app-site-visit [siteVisit]="siteVisit"></app-site-visit>
		</ng-template>
	</p-dataList>

	<p-panel header="Create Job" class="ui-grid ui-grid-responsive ui-fluid">
		<form [formGroup]="jobForm">
			<div class="ui-grid-row">						
				<input pInput type="text" formControlName="title">
			</div>
			<div class="ui-grid-row">
				<p-dropdown [options]="jobTypes" formControlName="jobTypeId" placeholder="Select Job Type"></p-dropdown>
			</div>	
			<div class="ui-grid-row">
				<textarea pInputTextarea formControlName="description"></textarea>
			</div>	
			<div class="ui-grid-row">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon">$</span>
					<input type="text" pInputText placeholder="Price" formControlName="estValue">   
					<span class="ui-inputgroup-addon">.00</span>      
				</div>
			</div>	
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="jobOrigin">Job Origin</label></div>					
				<p-dropdown [options]="originOptions" id="jobOrigin" formControlName="origin" placeholder="Select Job Origin"></p-dropdown>
			</div>	
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="jobAddress">Job Address</label></div>					
				<input pInput type="text" id="jobAddress" formControlName="street">	
			</div>	
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="jobSuburb">Job Suburb</label></div>					
				<input pInput type="text" id="jobSuburb" formControlName="suburb">
			</div>	
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="jobCity">Job City</label></div>					
				<input pInput type="text" id="jobCity" formControlName="city">
			</div>	
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"><label for="jobRange">Expected Timeframe</label></div>					
				<p-calendar selectionMode="range" id="jobRange" readonlyInput="true" formControlName="dateRange"></p-calendar>
			</div>
			<button *ngIf="jobForm.dirty" pButton type="button" (click)="updateJob()" label="Update Job"></button>
			<button *ngIf="jobForm.pristine" pButton type="button" (click)="createJob()" label="Create Job"></button>	
		</form>
	</p-panel>
	
	<p-panel header="Site Visit">
		<form [formGroup]="siteVisitForm" *ngIf="selectedJob">
			<p-dropdown [options]="staff" formControlName="staff"></p-dropdown>
			<p-calendar readonlyInput="true" [showIcon]="true" formControlName="start"></p-calendar>
			<textarea pInputTextarea formControlName="description"></textarea>
			<button pButton type="button" (click)="createSiteVisit()" label="Create Site-Visit"></button>						
		</form>
	</p-panel>
	
</p-panel>
