<p-growl [(value)]="msgs"></p-growl>

<div class="ui-g-3" *ngIf="quotes">	
	<p-listbox *ngIf="leads" [options]="leads" [(ngModel)]="selectedLead">
		<ng-template let-lead pTemplate="item">
			<div (click)="selectLead(lead.value)">
				<b>L:{{lead.value.leadId}}</b>
				<em>Q:{{lead.value.quoteId}}</em>
				<p>{{lead.value.quoteDescription}}</p>
			</div>
		</ng-template>
	</p-listbox>
</div>

<div class="ui-g-9">
	{{quoteRows}}
	<p-dataTable *ngIf="quoteRows" [value]="quoteRows" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
		<p-column field="description" header="Description"></p-column>
		<p-column field="amount" header="Amount"></p-column>
		<p-column field="cost" header="Cost"></p-column>
		<p-footer><div class="ui-helper-clearfix" style="width:100%">
			<button type="button" pButton style="float:left" (click)="showDialogToAdd()" label="Add"></button>
			<button type="button" pButton style="float:left" (click)="downloadPdf()" label="PDF"></button>
		</div></p-footer>
	</p-dataTable>
	<button *ngIf="!quoteRows" type="button" pButton (click)="createQuote()" label="Create Quote"></button>
	<app-job-details *ngIf="selectedLead" [selectedLead]="selectedLead"></app-job-details>
</div>

<p-dialog header="Quote Element" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedRow">
		<div class="ui-grid-row">
			<div class="ui-grid-col-4"><label for="description">Description</label></div>
			<div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="selectedRow.description" /></div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4"><label for="amount">Amount</label></div>
			<div class="ui-grid-col-8"><input pInputText id="amount" [(ngModel)]="selectedRow.amount" /></div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4"><label for="cost">Cost</label></div>
			<div class="ui-grid-col-8"><input pInputText id="cost" [(ngModel)]="selectedRow.cost" /></div>
		</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<button type="button" pButton (click)="delete()" label="Delete"></button>
			<button type="button" pButton (click)="save()" label="Save"></button>
		</div>
	</p-footer>
</p-dialog>