<p-tabView class="ui-g-5">
	<p-tabPanel header="New Lead">
		<app-leads [(leadData)]="leadData" (eventCreateLead)="handle"></app-leads>			
	</p-tabPanel>
	<p-tabPanel header="New Quote">
		<app-quote-component [(quoteData)]="quoteData"></app-quote-component>
	</p-tabPanel>
	<p-tabPanel header="New Job">
		<app-job [(jobData)]="jobData"></app-job>
	</p-tabPanel>
</p-tabView>
<app-current-items class="ui-g-7" (quoteData)="handleQuoteData($event)" (leadData)="handleLeadData($event)" (jobData)="handleJobData($event)"></app-current-items>
