/* General elements */
h4 {
	padding: 5px;
}

p {
	padding: 5px;
}

.handle {	
	border-bottom-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
}

/* Styling the task elements */
.task {
	border-style: solid;
	border-width: 1px;
	width: 300px;
	height: 150px;
	margin: 5px;
	border-color: #DDDDDD;	
}

.task .handle {
	background: lightgreen;		
}

/* Styling equipment elements */
.equipment {
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
	margin: 5px;	
}

.equipment .handle {
	background: lightgoldenrodyellow;
	display: inline-block;
	border-bottom-style: none;
	border-right-style: solid;
}

.equipment p {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

/* Default box element */
.stagingBox {
	display: inline-block;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	width: 80%;
	width: 250px;
	height: auto;
	margin: 5px;
	border-color: #DDDDDD;
}
/* Styling the job elements */
.job {

}

.job .handle {
	background: lightblue;
}

/* Styling the staff elements */
.staff {
	
}

.staff .handle {
	background: lightcoral;
}

