<p-tabView>

	<p-tabPanel header="Jobs">
		<div class="row wrapper">
			<div *ngFor="let job of jobs" class="draggable job" [id]="job.jobId" [attr.title]="job.title" [attr.type]="'job'">
				<h4 class="handle"><b>J{{job.jobId}}: {{job.title}}</b></h4>
				<p>{{job.description}}</p>
			</div>
		</div>
	</p-tabPanel>

	<p-tabPanel header="Staff">
		<div class="row wrapper">
			<div *ngFor="let s of staff" class="draggable staff" [id]="s.staffId" [attr.name]="s.desc" [attr.type]="'staff'" [attr.name]="s.firstName + ' ' + s.lastName">
				<h4 class="handle"><b>{{s.firstName}} {{s.lastName}}</b></h4>
				<p>{{s.workType}}</p>
			</div>
		</div>
	</p-tabPanel>

	<p-tabPanel header="Staging">
		<div class="row">
			<div class="col-6 wrapper">
				<div *ngFor="let task of tasks" class="task draggable" [id]="task.id" [attr.type]="'task'">
					<h4 class="handle"><b>{{task.header}}</b></h4>
					<p>{{task.description}}</p>
					<div class='container' [dragula]='"first-bag"' style="min-height: 50px; padding-bottom: 20px;">
					</div>
				</div>
			</div>
			<div class="col-6 wrapper">
				<div class="draggable" [dragula]='"first-bag"' id="equipmentBag" [attr.type]="'plant'">
					<div *ngFor="let equip of equipment" class="equipment">
						<div class="handle"><b>{{equip.registration}}</b></div>
						<p>{{equip.equipmentType}}</p>
						<p *ngIf="equip.hours">Hrs: {{equip.hours}}</p>
						<p *ngIf="equip.kilometers">Kms: {{equip.kilometers}}</p>
					</div>
				</div>
			</div>
		</div>
	</p-tabPanel>
</p-tabView>